
/* ----------------------------------------   POLICES  ---------------------------------------- */

/* Police : Source Sans Pro : Regular */
@font-face {
    font-family: 'Source Sans Pro Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-pro_regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-sans-pro_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro_regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro_regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro_regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro_regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
 /* Police : Source Sans Pro : 900 (Black) */
  @font-face {
    font-family: 'Source Sans Pro Black';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/source-sans-pro-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-sans-pro_900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro_900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro_900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro_900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro_900.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
/* Police : Montserrat : Regular*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat_regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat_regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat_regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat_regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat_regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

/* ----------------------------------------   STYLES GENERAUX  ---------------------------------------- */

* {
    margin: 0;
}

main {
    width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Source Sans Pro Black', Fallback, sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Source Sans Pro Black', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    margin: 0 0 -30px 20%;
    z-index: 10;
}

h3 {
    font-size: larger;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black', sans-serif;
    letter-spacing: 0.1em;
    padding: 0 10px;
    margin: 15px 0;

}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    letter-spacing: 0.15em;
}

p {
    font-family: 'Montserrat', sans-serif;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}

/* ----------------------------------------   BANNER  ---------------------------------------- */

.banner {
    background-color: white;
}
.banner-container {
    width: 1200px;
    margin: auto;
    padding: 10px 0;
}

.banner-subcontainer {
    vertical-align: top;
    display: inline-block;
}

nav li {
    display: inline-block;
}

header a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

header a:hover {
    color: white;
    background-color: #005543;
    padding: 15px;
}

.appeler {
    font-size: large;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black', sans-serif;
    color: #005543;
    border: #005543 3px solid;
    padding: 7px;
    margin: 15px 0;
}

.appeler:hover {
    color: orange;
    background-color: white; !important
}


/* ----------------------------------------   HEADER  ---------------------------------------- */

.header {
    width: 100%;
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ), url(../media/banner.jpg);
    height: 410px;
    background-position: top;
}

.devise {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black', sans-serif;
    padding: 100px 0 0 50px;
}

.presentation {
    padding-left: 50px;
}
/* ----------------------------------------   MAIN  ---------------------------------------- */

.image {
    height: 400px;
    z-index: 0;
}

.droite .image {
    float: right;
}

.gauche .image {
    float: left;
}

.description {
    height: 300px;
    padding: 50px;
    margin: 0;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.droite .description {
    text-align: right;
}

.amo {
    background-color: gainsboro;
}

/* ----------------------------------------   FOOTER  ---------------------------------------- */

/* Style Généraux du Footer */
footer {
    color: white;
    background-color: #282828;
}

.footer-container {
    width: 1200px;
    margin: auto;
    padding: 40px 0;
}

.footer-subcontainer {
    display: inline-block;
    vertical-align: top;
}

footer h3 {
    border-left: 5px solid #005543;
}

footer a {
    color: white;
}

footer a:hover {
    color: orange;
}

/* Présentation du Footer*/
.logo-int {
    padding-bottom: 15px;
}
.presentation {
    width: 50%;
}

/* Services du Footer*/
.services {
    margin-right: 50px;
}
.liste-service {
    display: inline-block;
}
ol {
    list-style-type: none;
    line-height: 1.7;
}
.ls-1 li:nth-child(1):before {content: "location_city";font-family: 'Material Icons';}
.ls-1 li:nth-child(2):before {content: "water_drop";font-family: 'Material Icons';}
.ls-1 li:nth-child(3):before {content: "edit_road";font-family: 'Material Icons';}
.ls-1 li:nth-child(4):before {content: "local_fire_department";font-family: 'Material Icons';}

.ls-2 li:nth-child(1):before {content: "factory";font-family: 'Material Icons';}
.ls-2 li:nth-child(2):before {content: "grass";font-family: 'Material Icons';}
.ls-2 li:nth-child(3):before {content: "view_in_ar";font-family: 'Material Icons';}
.ls-2 li:nth-child(4):before {content: "electric_bolt";font-family: 'Material Icons';}

/* Reaseaux Sociaux du Footer*/
.reseau-sociaux {
    text-align: right;
}

i {
    font-size: larger;
    padding: 15px;
    background-color: #005543;
    transition: .5s;
}

i:hover {
    background-color: white;
    color: #005543;
}

/*Contact et Adresse du Footer */
.footer-contact {
    margin-top: 50px;
}

.adresse {
    width: 21%;;
    margin: auto;
    padding: 0 20px;
    display: inline-block;
    line-height: 1.7;
    vertical-align: top;
}

/* Mention légales du Footer */

.mentions-legales-container {
    background-color: black;
}

.mentions-legales {
    width: 1200px;
    margin: auto;
    padding: 15px 0;
    font-size: smaller;
}

.ml {
    width: fit-content;
    padding: 0 30px;
    text-align: center;
    border-right: 1px solid white;
    display: inline-block;
}

.cr {
    padding: 0 0 0 90px;
    display: inline;
}
