* {
  margin: 0;
}

/* STYLES DES ELEMENTS GENERAUX*/

body{
  background-color: #202124;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding: 0 10px;
}

a {
  color: #9aa0a6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  font-size: 13px;
}

button {
  padding: 7px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #303134;
  color: white;
  border-radius: 4px;
  border: none;
  border: #303134 1px solid;
}

button:hover{
  border: #9aa0a6 1px solid;
}


input {
  background-color: transparent;
  border: none;
  width: 500px;
}

/*STYLE DU HEADER*/

.menu-header {
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
}

.connexion {
  background-color: #8ab4f8 ;
  color: #202124;
  padding: 10px 25px;
}

.petits-points{
  fill: white;
  width: 25px;
  padding: 5px;
}

.petits-points:hover{
  background-color: #5f6368;
  border-radius: 50px;
  padding: 5px;
}

/* STYLE DU CORPS DE SITE*/
 .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 11% 0 17% 0;
 }

 .logo {
  max-width: 270px;
  padding-bottom: 30px;
 }

 .loupe {
  width: 20px;
  fill: #9aa0a6;
  padding: 10px;
 }

 .barre-recherche {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  border: 1px #5f6368 solid;
  border-radius: 25px;
 }

 .barre-recherche:hover {
  background-color: #5f6368;
 }

 .boutons {
  margin: 30px ;
 }

/* STYLES DU FOOTER*/

footer {
  color: #9aa0a6;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top-footer {
  height: 50px;
  vertical-align: middle;
  background-color: #171717 ;
  border-bottom: #202124 2px solid;
}

.carbone{
  margin: auto 0;
}

.feuille {
  max-height: 15px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  background-color: #171717 ;
  padding: 15px;
}
